li.pokemon {
  --spriteSize: 150px;
  --iconSize: 75px;
  position: relative;
  padding: 0.5rem 0 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.pokemon-title {
  margin: 0 0 0.5rem 0.5rem;
  align-self: flex-start;
}

strong.number {
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 6rem;
  z-index: -1;
}

strong.usage {
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 6.5rem;
  right: 0.5rem;
  font-size: 2.5rem;
  z-index: -1;
}

h3.stat-title {
  margin: 0 0 0.2rem 0.5rem;
}

img.pokemon-sprite {
  max-height: var(--spriteSize);
  width: auto;
  cursor: pointer;
}

button.sprite-button {
  height: var(--spriteSize);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 0 0.5rem 0;
}

li.pokemon > button.sprite-button {
  align-self: flex-start;
}

img.pokemon-icon {
  height: var(--iconSize);
  width: auto;
  cursor: pointer;
}

button.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

div.tab-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

button.info-tab {
  flex: 1;
  background-color: transparent;
  color: #000;
  border: none;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button.info-tab:disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

div.stat-container {
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.stat-container:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

div.stat-container#abilities {
  justify-content: flex-start;
  height: calc(75px + 0.6rem);
}

ul.stat-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

ul.stat-list > li.stat-list-element:not(:last-child) {
  margin-bottom: 0.2rem;
}

li.stat-list-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

ul.stat-grid {
  list-style: none;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--iconSize), 100%), 1fr)
  );
  gap: 0.5rem;
}

li.stat-grid-cel {
  display: flex;
  flex-direction: column;
}

div.stat-end-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

span.stat {
  text-transform: capitalize;
  font-size: 1rem;
}
